#resumo {
    background-color: #5f0f4e;
    color: #fff;
}

.speaker {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-speaker {
    width: 75%;
    border-radius: 5%;
    margin-bottom: 1.5em;
    object-fit: fill;
}